body {
    background-color:rgb(94, 182, 77);
}


h1 {
    color:rgb(39, 36, 36);
    text-align: center;
}
h2 {
    font-style: italic;
    text-align: right;
    color: rgb(300, 100, 200);
    position: static;

}
p {
    font-family: sans-serif;
    font-style: italic;
}
